#yesButton{  
position: relative;
  bottom: +305px;
  left: 725px;
}
#noButton{  
position: relative;
  bottom: +305px;
  left: 775px;
}
#canvasDiv{
    width: 1024px;
	height: 768px;
}
h1{
     margin-top: -625px;
	 margin-left: +600px;
	 font-size: 5.2em;
}